{{define "content"}}
<div class="container font-sans">
    <div class="flex flex-wrap h-screen">
        <div class="w-full h-70pt md:w-1/2 mt-8 mb-8">
            <div class="h-full flex flex-col bg-black rounded">
                <div class="h-10 mt-2px container flex items-center">
                    <div class="bg-red mr-2 h-4 w-4 rounded-full"></div>
                    <div class="bg-orange mr-2 h-4 w-4 rounded-full"></div>
                    <div class="bg-green mr-2 h-4 w-4 rounded-full"></div>
                </div>
                <div class="flex-1 bg-white rounded-less m-4px">
                    <div class="p-4 pt-6">
                        <div class="pb-4">
                            <div class="js-typewriting hidden">
                                <span class="mr-4 js-prompt-icon">></span>
                                <span class="js-text">{{ .Content.Message }}</span>
                            </div>
                        </div>
                        <div class="pb-4">
                            <div class="js-typewriting hidden">
                                <span class="mr-4 js-prompt-icon">></span>
                                <span class="js-text">{{ .Content.Submessage }}</span>
                            </div>
                        </div>
                        {{ range $svc, $link := .Content.Links }}
                        <div class="block pb-2">
                            <div class="js-typewriting hidden">
                                <div class="js-text">
                                    <span class="ml-6 mr-2">*</span>
                                    <a href="{{ $link }}" class="link">{{ $svc }}</a>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        <div class="pb-4">
                            <div class="js-typewriting hidden">
                                <span class="mr-4 js-prompt-icon">></span>
                                <span class="js-text cursor border-black"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}