{{define "content"}}
<body class="bg-grey-light">
<div class="container font-sans">
    <div class="flex flex-wrap h-screen">
        <div class="w-full h-70pt md:w-1/2 mt-8 mb-8">
            <div class="h-full flex flex-col bg-black rounded">
                <div class="h-10 mt-2px container flex items-center">
                    <div class="bg-red mr-2 h-4 w-4 rounded-full"></div>
                    <div class="bg-orange mr-2 h-4 w-4 rounded-full"></div>
                    <div class="bg-green mr-2 h-4 w-4 rounded-full"></div>
                </div>
                <div class="flex-1 bg-white rounded-less m-4px">
                    <div class="p-4 pt-6">
                        > TERMINAL
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-20pt mt-10pt md:w-1/2">
            <div></div>
        </div>
    </div>
</div>
</body>
{{end}}
