{{define "content"}}

<body class="bg-white">
    <div class="container font-sans">
        <div class="flex flex-wrap">
            <div class="w-full mt-8 mb-8">
                <h1>{{ .Content.PageTitle }}</h1>
            </div>

            <div class="w-full mb-8">
                <h3>{{ .Content.Subtitles.Active }}</h3>

                <div class="flex" flex-wrap>
                    {{range $index, $repo := .Repositories}} {{if not $repo.IsArchived }}
                        <a href="{{ $repo.GetURL }}" target="_blank" class="bg-grey-light w-1/5 rounded p-8 px-2 no-underline hover:bg-grey hover:text-white trans">
                            <div class="text-center">
                                    <div>
                                            <span>{{ $repo.GetName }}</span>
                                    </div>
                                    <div>
                                            <span>{{ $repo.GetDescription }}</span>
                                    </div>
                                    <div>
                                        <span>{{ $.Content.Repo.Language }}</span>
                                        <span>{{ $repo.GetLanguage }}</span>
                                    </div>
                            </div>
                        </a>
                    {{end}} {{end}}
                </div>
            </div>

            <div class="w-full">
                <h3>{{ .Content.Subtitles.Archived }}</h3>

                <div class="flex flex-wrap">
                    {{range $index, $repo := .Repositories}} {{if $repo.IsArchived }}
                        <a href="{{ $repo.GetURL }}" target="_blank" class="bg-grey-light w-1/5 rounded p-8 px-2 no-underline hover:bg-grey hover:text-white trans">
                            <div class="text-center">
                                    <div>
                                            <span>{{ $repo.GetName }}</span>
                                    </div>
                                    <div>
                                            <span>{{ $repo.GetDescription }}</span>
                                    </div>
                                    <div>
                                        <span>{{ $.Content.Repo.Language }}</span>
                                        <span>{{ $repo.GetLanguage }}</span>
                                    </div>
                            </div>
                        </a>
                    {{end}} {{end}}
                </div>
            </div>
        </div>
    </div>
</body>
{{end}}